<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
 	<appSettings>
 	<add key="TrelloAPIKey" value="" />
	<add key="TrelloUserToken" value="" />
	<add key="WebhookSources" value="107.23.104.115,107.23.149.70,54.152.166.250,54.164.77.56,172.17.0.1" />
	</appSettings>
</configuration>
	