<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
 	<add key="TrelloAPIKey" value="7a96d826dae4524cc9580a040368d4c2" />
	<add key="TrelloUserToken" value="df8d01e4adde87b460c74a3fc47f9ae51ca3415580fdafb6c3ccf6412f9deb11" />
	<add key="WebhookSources" value="107.23.104.115,107.23.149.70,54.152.166.250,54.164.77.56,172.17.0.1" />
	<add key="HostUrl" value=""  />
  </appSettings>

	<log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />     
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%level] %thread %logger: %message%newline" />
      </layout>
    </appender>
</log4net>

    
</configuration>
	
